C:\Users\Ivan\Documents\GitHub\WAC\Temp
C:\Users\Ivan\Documents\GitHub\WAC\Library
Library/ArtifactDB
Library/EditorInstance.json
Library/SourceAssetDB
Temp/UnityLockfile
Library/ArtifactDB
Library/SourceAssetDB
Library/SourceAssetDB
Library/ArtifactDB
C:\Users\Ivan\Documents\GitHub\WAC\Library
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*
Library/ArtifactDB
Library/SourceAssetDB
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
Library/ArtifactDB
Library/SourceAssetDB
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
