C:\Users\Ivan\Documents\GitHub\WAC\Temp
C:\Users\Ivan\Documents\GitHub\WAC\Library
Library/ArtifactDB
Library/EditorInstance.json
Library/SourceAssetDB
Temp/UnityLockfile
Library/ArtifactDB
Library/SourceAssetDB
Library/SourceAssetDB
Library/ArtifactDB
C:\Users\Ivan\Documents\GitHub\WAC\Library
